<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hundred"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hundred"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGame">
        <activity android:name=".easy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".medium"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".choose_the_level"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".players2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".choose_the_players"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".hard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>